# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm††
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/.idea/.gitignore
/Chapter03/chapter03.06-calendar/build/resources/main/templates/errors/403.html
/Chapter03/chapter03.06-calendar/build/resources/main/templates/Access_Denied.html
/.gradle/4.3.1/fileContent/annotation-processors.bin
/.gradle/4.10/fileContent/annotation-processors.bin
/Chapter02/chapter02.06-calendar/build/resources/main/application.properties
/Chapter03/chapter03.06-calendar/build/resources/main/application.properties
/Chapter02/chapter02.06-calendar/build/resources/main/application.yml
/Chapter03/chapter03.06-calendar/build/resources/main/application.yml
/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/.gradle/buildOutputCleanup/cache.properties
/Chapter02/chapter02.06-calendar/build/resources/main/database/h2/calendar-data.sql
/Chapter02/chapter02.06-calendar/build/resources/main/database/h2/calendar-schema.sql
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/CalendarApplication.class
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/service/CalendarService.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/service/CalendarService.class
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/domain/CalendarUser.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/domain/CalendarUser.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/authentication/CalendarUserAuthenticationProvider.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/core/authority/CalendarUserAuthorityUtils.class
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/dataaccess/CalendarUserDao.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/dataaccess/CalendarUserDao.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/userdetails/CalendarUserDetailsService$CalendarUserDetails.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/userdetails/CalendarUserDetailsService.class
/.gradle/checksums/checksums.lock
/.gradle/4.3.1/javaCompile/classAnalysis.bin
/.gradle/4.10/javaCompile/classAnalysis.bin
/.idea/codeStyles/codeStyleConfig.xml
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/web/controllers/ControllerHelper.class
/Chapter03/chapter03.06-calendar/build/resources/main/templates/events/create.html
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/web/model/CreateEventForm.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/web/model/CreateEventForm.class
/Chapter03/chapter03.06-calendar/build/resources/main/data.sql
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/configuration/DataSourceConfig.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/configuration/DataSourceConfig.class
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/service/DefaultCalendarService.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/service/DefaultCalendarService.class
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/web/controllers/DefaultController.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/web/controllers/DefaultController.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/web/authentication/DomainUsernamePasswordAuthenticationFilter.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/authentication/DomainUsernamePasswordAuthenticationToken.class
/Chapter03/chapter03.06-calendar/build/resources/main/templates/error.html
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/web/controllers/ErrorController.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/web/controllers/ErrorController.class
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/domain/Event.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/domain/Event.class
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/dataaccess/EventDao.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/dataaccess/EventDao.class
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/web/controllers/EventsController.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/web/controllers/EventsController.class
/.gradle/4.3.1/fileContent/fileContent.lock
/.gradle/4.10/fileContent/fileContent.lock
/.gradle/4.3.1/fileHashes/fileHashes.bin
/.gradle/4.10/fileHashes/fileHashes.bin
/.gradle/4.3.1/fileHashes/fileHashes.lock
/.gradle/4.10/fileHashes/fileHashes.lock
/.gradle/6.6.1/fileHashes/fileHashes.lock
/Chapter03/chapter03.06-calendar/build/resources/main/templates/fragments/footer.html
/Chapter03/chapter03.06-calendar/build/resources/main/templates/signup/form.html
/.gradle/4.10/gc.properties
/.gradle/6.6.1/gc.properties
/.gradle/configuration-cache/gc.properties
/.gradle/vcs-1/gc.properties
/.idea/gradle.xml
/Chapter03/chapter03.06-calendar/build/resources/main/templates/fragments/header.html
/Chapter03/chapter03.06-calendar/build/resources/main/templates/fragments/headerinc.html
/Chapter03/chapter03.06-calendar/build/resources/main/templates/index.html
/.gradle/4.3.1/javaCompile/jarAnalysis.bin
/.gradle/4.10/javaCompile/jarAnalysis.bin
/.idea/jarRepositories.xml
/.gradle/4.3.1/javaCompile/javaCompile.lock
/.gradle/4.10/javaCompile/javaCompile.lock
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/configuration/JavaConfig.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/configuration/JavaConfig.class
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/dataaccess/JdbcCalendarUserDao$1.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/dataaccess/JdbcCalendarUserDao$1.class
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/dataaccess/JdbcCalendarUserDao$CalendarUserRowMapper.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/dataaccess/JdbcCalendarUserDao$CalendarUserRowMapper.class
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/dataaccess/JdbcCalendarUserDao.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/dataaccess/JdbcCalendarUserDao.class
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/dataaccess/JdbcEventDao$1.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/dataaccess/JdbcEventDao$1.class
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/dataaccess/JdbcEventDao$2.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/dataaccess/JdbcEventDao$2.class
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/dataaccess/JdbcEventDao.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/dataaccess/JdbcEventDao.class
/Chapter02/chapter02.06-calendar/build/tmp/ssl/keystore
/.gradle/4.3.1/fileChanges/last-build.bin
/.gradle/4.10/fileChanges/last-build.bin
/.gradle/6.6.1/fileChanges/last-build.bin
/Chapter03/chapter03.06-calendar/build/resources/main/templates/events/list.html
/Chapter02/chapter02.06-calendar/build/resources/main/logback.xml
/Chapter03/chapter03.06-calendar/build/resources/main/templates/login.html
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/web/controllers/LoginController.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/web/controllers/LoginController.class
/Chapter01/chapter01.00-calendar/build/tmp/war/MANIFEST.MF
/Chapter02/chapter02.00-calendar/build/tmp/war/MANIFEST.MF
/Chapter02/chapter02.01-calendar/build/tmp/war/MANIFEST.MF
/Chapter02/chapter02.02-calendar/build/tmp/war/MANIFEST.MF
/Chapter02/chapter02.03-calendar/build/tmp/war/MANIFEST.MF
/Chapter02/chapter02.04-calendar/build/tmp/war/MANIFEST.MF
/Chapter02/chapter02.05-calendar/build/tmp/war/MANIFEST.MF
/Chapter02/chapter02.06-calendar/build/tmp/war/MANIFEST.MF
/.gradle/checksums/md5-checksums.bin
/Chapter03/chapter03.06-calendar/build/resources/main/locales/messages.properties
/.idea/misc.xml
/Chapter03/chapter03.06-calendar/build/resources/main/templates/events/my.html
/.gradle/buildOutputCleanup/outputFiles.bin
/.idea/codeStyles/Project.xml
/.gradle/4.3.1/fileHashes/resourceHashesCache.bin
/.gradle/4.10/fileHashes/resourceHashesCache.bin
/Chapter03/chapter03.06-calendar/build/resources/main/schema.sql
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/configuration/SecurityConfig$1.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/configuration/SecurityConfig$2.class
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/web/configuration/SecurityConfig.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/configuration/SecurityConfig.class
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/web/configuration/SecurityWebAppInitializer.class
/Chapter02/chapter02.06-calendar/build/resources/main/tomcat/server.xml
/Chapter03/chapter03.06-calendar/build/resources/main/tomcat/server.xml
/.gradle/checksums/sha1-checksums.bin
/Chapter03/chapter03.06-calendar/build/resources/main/templates/events/show.html
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/web/controllers/SignupController.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/web/model/SignupForm.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/service/SpringSecurityUserContext.class
/Chapter03/chapter03.06-calendar/build/resources/main/static/css/styles.css
/.gradle/4.3.1/javaCompile/taskHistory.bin
/.gradle/4.3.1/taskHistory/taskHistory.bin
/.gradle/4.10/javaCompile/taskHistory.bin
/.gradle/4.10/taskHistory/taskHistory.bin
/.gradle/4.3.1/taskHistory/taskHistory.lock
/.gradle/4.10/taskHistory/taskHistory.lock
/.gradle/4.3.1/javaCompile/taskJars.bin
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/web/configuration/ThymeleafConfig$1.class
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/web/configuration/ThymeleafConfig.class
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/service/UserContext.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/service/UserContext.class
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/service/UserContextStub.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/service/UserContextStub.class
/.idea/vcs.xml
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/web/configuration/WebAppInitializer.class
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/web/configuration/WebMvcConfig$1.class
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/web/configuration/WebMvcConfig.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/web/configuration/WebMvcConfig.class
/Chapter02/chapter02.06-calendar/build/classes/java/main/com/packtpub/springsecurity/web/controllers/WelcomeController.class
/Chapter03/chapter03.06-calendar/build/classes/java/main/com/packtpub/springsecurity/web/controllers/WelcomeController.class
/.gradle/workspace-id.txt
/.gradle/workspace-id.txt.lock
